# Ignore everything inside GraphtreonAudit/ that should not be tracked
GraphtreonAudit/__pycache__/
GraphtreonAudit/*.py[cod]
GraphtreonAudit/*$py.class

# C extensions
GraphtreonAudit/*.so

# Distribution / packaging
GraphtreonAudit/.Python
GraphtreonAudit/build/
GraphtreonAudit/develop-eggs/
GraphtreonAudit/dist/
GraphtreonAudit/downloads/
GraphtreonAudit/eggs/
GraphtreonAudit/.eggs/
GraphtreonAudit/lib/
GraphtreonAudit/lib64/
GraphtreonAudit/parts/
GraphtreonAudit/sdist/
GraphtreonAudit/var/
GraphtreonAudit/wheels/
GraphtreonAudit/share/python-wheels/
GraphtreonAudit/*.egg-info/
GraphtreonAudit/.installed.cfg
GraphtreonAudit/*.egg
GraphtreonAudit/MANIFEST

# PyInstaller
GraphtreonAudit/*.manifest
GraphtreonAudit/*.spec

# Installer logs
GraphtreonAudit/pip-log.txt
GraphtreonAudit/pip-delete-this-directory.txt

# Unit test / coverage reports
GraphtreonAudit/htmlcov/
GraphtreonAudit/.tox/
GraphtreonAudit/.nox/
GraphtreonAudit/.coverage
GraphtreonAudit/.coverage.*
GraphtreonAudit/.cache
GraphtreonAudit/nosetests.xml
GraphtreonAudit/coverage.xml
GraphtreonAudit/*.cover
GraphtreonAudit/*.py,cover
GraphtreonAudit/.hypothesis/
GraphtreonAudit/.pytest_cache/
GraphtreonAudit/cover/

# Translations
GraphtreonAudit/*.mo
GraphtreonAudit/*.pot

# Django stuff:
GraphtreonAudit/*.log
GraphtreonAudit/local_settings.py
GraphtreonAudit/db.sqlite3
GraphtreonAudit/db.sqlite3-journal

# Flask stuff:
GraphtreonAudit/instance/
GraphtreonAudit/.webassets-cache

# Scrapy stuff:
GraphtreonAudit/.scrapy

# Sphinx documentation
GraphtreonAudit/docs/_build/

# PyBuilder
GraphtreonAudit/.pybuilder/
GraphtreonAudit/target/

# Jupyter Notebook
GraphtreonAudit/.ipynb_checkpoints

# IPython
GraphtreonAudit/profile_default/
GraphtreonAudit/ipython_config.py

# pyenv
GraphtreonAudit/.python-version

# pipenv
# GraphtreonAudit/Pipfile.lock

# poetry
# GraphtreonAudit/poetry.lock

# pdm
GraphtreonAudit/.pdm.toml
GraphtreonAudit/.pdm-python
GraphtreonAudit/.pdm-build/