# Ignore everything inside graphtreon-audit-proj/ that should not be tracked
graphtreon-audit-proj/__pycache__/
graphtreon-audit-proj/*.py[cod]
graphtreon-audit-proj/*$py.class

# C extensions
graphtreon-audit-proj/*.so

# Distribution / packaging
graphtreon-audit-proj/.Python
graphtreon-audit-proj/build/
graphtreon-audit-proj/develop-eggs/
graphtreon-audit-proj/dist/
graphtreon-audit-proj/downloads/
graphtreon-audit-proj/eggs/
graphtreon-audit-proj/.eggs/
graphtreon-audit-proj/lib/
graphtreon-audit-proj/lib64/
graphtreon-audit-proj/parts/
graphtreon-audit-proj/sdist/
graphtreon-audit-proj/var/
graphtreon-audit-proj/wheels/
graphtreon-audit-proj/share/python-wheels/
graphtreon-audit-proj/*.egg-info/
graphtreon-audit-proj/.installed.cfg
graphtreon-audit-proj/*.egg
graphtreon-audit-proj/MANIFEST

# PyInstaller
graphtreon-audit-proj/*.manifest
graphtreon-audit-proj/*.spec

# Installer logs
graphtreon-audit-proj/pip-log.txt
graphtreon-audit-proj/pip-delete-this-directory.txt

# Unit test / coverage reports
graphtreon-audit-proj/htmlcov/
graphtreon-audit-proj/.tox/
graphtreon-audit-proj/.nox/
graphtreon-audit-proj/.coverage
graphtreon-audit-proj/.coverage.*
graphtreon-audit-proj/.cache
graphtreon-audit-proj/nosetests.xml
graphtreon-audit-proj/coverage.xml
graphtreon-audit-proj/*.cover
graphtreon-audit-proj/*.py,cover
graphtreon-audit-proj/.hypothesis/
graphtreon-audit-proj/.pytest_cache/
graphtreon-audit-proj/cover/

# Translations
graphtreon-audit-proj/*.mo
graphtreon-audit-proj/*.pot

# Django stuff:
graphtreon-audit-proj/*.log
graphtreon-audit-proj/local_settings.py
graphtreon-audit-proj/db.sqlite3
graphtreon-audit-proj/db.sqlite3-journal

# Flask stuff:
graphtreon-audit-proj/instance/
graphtreon-audit-proj/.webassets-cache

# Scrapy stuff:
graphtreon-audit-proj/.scrapy

# Sphinx documentation
graphtreon-audit-proj/docs/_build/

# PyBuilder
graphtreon-audit-proj/.pybuilder/
graphtreon-audit-proj/target/

# Jupyter Notebook
graphtreon-audit-proj/.ipynb_checkpoints

# IPython
graphtreon-audit-proj/profile_default/
graphtreon-audit-proj/ipython_config.py

# pyenv
graphtreon-audit-proj/.python-version

# pipenv
# graphtreon-audit-proj/Pipfile.lock

# poetry
# graphtreon-audit-proj/poetry.lock

# pdm
graphtreon-audit-proj/.pdm.toml
graphtreon-audit-proj/.pdm-python
graphtreon-audit-proj/.pdm-build/

graphtreon-audit-proj/test_08082025.txt
graphtreon-audit-proj/test_08082025.txt
